/* Стили для index.html */

/* Header */
.Logo-blue {
    color: #2196F3;
}

.Logo-black {
    color: #000000;
}

.site-nav .link {
    color: #212121;
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color: #2196F3;
}

.mail-tel .link {
    color: #212121;
}

.mail-tel .link:hover,
.mail-tel .link:focus {
    color: #2196F3;
}

/* MAIN */

/* Блок Заголовок */
.block-title {
    background-color: #2F303A;
}
h1 {
    color: #FFFFFF;
}

/* акценты в работе */
h2,
h3 {
    color: #212121;
}

.for-business {

}

/* состав команды */
.Section-bg {
    background-color: #F5F4FA;
}

/* контакты поддержки */

footer {
    background-color: #2F303A;
    color: #FFFFFF;
}

.location {
    color: #FFFFFF;
}

.mail,
.tel-nom {
    color: rgba(255, 255, 255, 0.6);
}






ul {
    list-style: none;
}

button {
    background-color: #2196F3;
    color: #FFFFFF;
}







/* Стили для portfolio.html */